@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    --main-color: #e9f2df;
    --secondary-color: #000;
    --tertiary-color: #d9b7e7;
    --accent-color: #3700ff;
    --link-accent-color: #ff7d7d;
    --white-color: #fff;
    --error-color: #ff4911;
    --success-color: #2fff2f;
}

body {
    margin: 0;
    padding: 0;
    background: var(--main-color);
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
textarea,
select,
option,
button,
a,
p,
span,
div,
li,
ul,
ol {
    font-family: "Lexend Deca", sans-serif;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
strong,
b {
    font-weight: 600;
    margin: unset;
}

label,
input,
textarea,
select,
option,
a,
p,
span,
div,
li,
ul,
ol {
    font-weight: 400;
}

a:hover > * > *,
a:hover > *,
a:hover {
    color: var(--accent-color);
}

button {
    width: fit-content;
    padding: 10px;
    background-color: var(--white-color);
    border: var(--secondary-color) 2px solid;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

button:hover {
    box-shadow: inset 5px 5px var(--white-color),
        7px 7px 0px 0px var(--tertiary-color);
    background: var(--tertiary-color);
}

/* form */

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    margin: 10px 0;
    transition: box-shadow 0.2s ease-in-out;
    border: 2px solid var(--secondary-color);
}

input:not([type="checkbox"]):focus {
    box-shadow: 8px 8px 0px 0px var(--success-color);
}

input:focus-visible {
    outline: unset;
}

input:not([type="checkbox"]):invalid:focus {
    box-shadow: 8px 8px 0px 0px var(--error-color);
}

input[required] + label::after {
    content: " *";
    font-weight: bold;
    color: var(--error-color);
}

textarea {
    resize: vertical;
    width: 100%;
    transition: box-shadow 0.2s ease-in-out;
    border: 2px solid var(--secondary-color);
}

textarea:focus {
    box-shadow: 8px 8px 0px 0px var(--success-color);
}

textarea:focus-visible {
    outline: unset;
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.form-header--col {
    display: flex;
    width: 50%;
    margin: auto 0;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .form-header {
        flex-direction: column;
    }

    .form-header--col {
        width: 100%;
    }
}

.form-group {
    display: flex;
    flex-direction: column-reverse;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 20px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 20px 0;
}

.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-container .pagination-button {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 15px 20px;
    transition: all 0.2s ease-in-out;
}

.pagination-container .pagination-button:not(.disabled):hover {
    box-shadow: inset 5px 5px var(--white-color),
        6px 6px 0px 0px var(--link-accent-color);
    background: var(--link-accent-color);
}

.pagination-container .pagination-button.disabled {
    opacity: 0.5;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.tabs .tab {
    padding: 10px 20px;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-right: unset;
}

.tabs .tab:last-child {
    border-right: 2px solid var(--secondary-color);
}

.tabs .tab.active-tab {
    box-shadow: inset 5px 5px var(--white-color),
        7px 7px 0px 0px var(--tertiary-color);
    background: var(--tertiary-color);
}

.card {
    margin: 20px 0;
    background: var(--white-color);
    padding: 20px;
    border: 2px var(--secondary-color) solid;
}

.hidden {
    display: none;
}

.loading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 40px;
}

.loading-container > div[class|="loading"] {
    width: 20px;
    height: 30px;
    background: var(--tertiary-color);
    border: solid 2px var(--secondary-color);
}

.loading-container > div[class|="loading"]:nth-child(1) {
    animation: loading 1s ease-in-out infinite;
}

.loading-container > div[class|="loading"]:nth-child(2) {
    animation: loading 1s ease-in-out infinite 0.25s;
}

.loading-container > div[class|="loading"]:nth-child(3) {
    animation: loading 1s ease-in-out infinite 0.5s;
}

@keyframes loading {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    50% {
        margin-top: -10px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.time-stamp {
    font-size: 80%;
}
